:root{
    --font: "Roboto", sans-serif;
    --body-color: #333;
    --heading-color: #212b36;
    --primary-color: #f47421;
    --white: #ffffff;
    --black: #333;
    --black-primary: #000;
    --yellow: #ffeb3b;
    --yellow2: #ffcb08;
    --orange: #ff5722;
    --line-color: #c1bdbd;
    --footer-color: #302f31;
    --line-color-a: #f37423;
    --cake-kitchen: #ec008b;
    --bartending: #58a946;
    --family-kitchen: #6b3b20;
    --restaurant-manager: #0074bb;
    --marketing-color: #016973;
    --spa-color: #878d36;
    --music-aau-color: #93193D;
    --music-cet-color: #a98a53;
}


body{
    background-image: url(../images/bg-body.webp);
    background-size: cover;
    overflow-x: hidden;
}

.col-divied{
    border-right: 1px solid #ececec;
}

.main-breadcrumbs{
    box-shadow: 0 5px 2px #0b0b0b;
    min-height: 40px;
}

.breadcrumbs{
    
    background: #fff;
    border-bottom: 1px solid #0b0b0b ;
    padding: 10px;
   
}

#content{
    background-color: #fff;
    float: left;
}


.content-full{
    box-shadow: 0 0 15px #fff;
    
}

.section-title-main{
    font-size: 24px !important;
    font-family: roboto;
    border-bottom: 4px solid var(--primary-color);
    color: var(--primary-color);
}

.section-title{
    border-bottom: 2px solid #ececec;
    margin: 15px 0px;
}

.section-content{
    
    font-weight: 400;
}

.section-content a {
    font-size: 20px;
    color: var(--primary-color);
    font-weight: 400;
}
.section-content a {
    
    
   
    margin-left: auto;
    text-decoration: none;
}

.flex{
    display: flex;
}

.page-wrapper{
    padding: 15px 15px 15px;
}

.post-image{
    float: left;
    margin-right: 15px;
}

.img-cake{
    float: left;
    width: 100%;
    margin-bottom: 30px;

}

.col-img{
    border: none;
    border-radius: 0px;
    box-shadow: 0 0 12px #141414;
}

.col-img img{
    
        border-radius: 0;
   
}

.col-img p {
    font-size: 16px;
}

.title-news2{
    float: left;
    justify-content: space-between;
    width: 100%;
}





.row-ads-khoahoc {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 5px;
}

.row-ads-khoahoc .title-daotao-slidebar {
    color: #fff;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    position: absolute;
    width: auto;
    top: 17px;
    left: 33%;
}

.row-ads-khoahoc img{
    max-width: 100%;
}

.widget-title{
    background-color: var(--primary-color);
    padding: 10px;
    text-transform: uppercase;
    display: block;
    text-align: center;
    border-radius: 5px;
    font-weight: 400;
    color: #fff;
}
.row-site-event{
    position: relative;
    margin-bottom: 15px;
}

.row-site-event img{
    width: 100%;
    height: 100%;
    transition: transform .2s; /* Animation */
}
.row-site-event img:hover{
    transform: scale(1.2); 
}


.row-site-event .event-image {
    margin-top: 10px;
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
}

.site-card-body {
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
    background-color: #020202ad;
    padding: 5px;
}

.event-title a{
    text-decoration: none;
}

.card-title{
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    line-height: 1.5;
    padding: 0 8px 5px 8px;
    text-transform: uppercase;
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
   
}



.post-date {
    top: 5px;
    left: 15px;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 3px;
    text-align: center;
    position: absolute;
    color: #fff;
    
    background: linear-gradient(to bottom right,#ffbe30,#ff3e00);
}

#we_schema_rating {
    clear: both;
    margin-bottom: 10px;
    padding : 0 10px;
}

.we_schema_rating {
    --star-size: 2;
    padding: 0;
    border: none;
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: left;
    user-select: none;
    font-size: 2em;
    font-size: calc(var(--star-size) * 1em);
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    margin-bottom: 0;
    height: calc(var(--star-size)/2);
    line-height: calc(var(--star-size)/2)
}

.we_schema_rating>label {
    display: inline-block;
    position: relative;
    width: calc(var(--star-size) / 3 * 1.3em);
    margin-bottom: 0;
    margin-right: 3px
}

.we_schema_rating>*:hover,.we_schema_rating>*:hover~label,.we_schema_rating:not(:hover)>input:checked~label {
    color: transparent;
    cursor: inherit;
    background: transparent
}

.we_schema_rating>*:hover:before,.we_schema_rating>*:hover~label:before,.we_schema_rating:not(:hover)>input:checked~label:before {
    content: "★";
    position: absolute;
    left: 0;
    color: gold
}

.we_schema_rating>input {
    position: relative;
    transform: scale(3);
    transform: scale(var(--star-size));
    top: -.5em;
    top: calc(var(--star-size) / 6 * -1em);
    margin-left: -2.5em;
    margin-left: calc(var(--star-size) / 6 * -5em);
    z-index: 2;
    opacity: 0;
    font-size: initial;
    margin-right: 0
}

#we_schema_rating .result_msg,#we_schema_rating .error_msg,#we_schema_rating .sucess_msg {
    margin: 5px 0
}

#we_schema_rating .error_msg {
    color: red
}

#we_schema_rating .sucess_msg {
    color: green
}


@media only screen and (max-width: 768px) {
    .flex{
        flex-direction: column;
    }
    .max-height{
       padding: 0;
    }
    .col-slidebar-right{
        margin-left: 60px;
    }
    

}

